@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Rubik:wght@500&display=swap');

*{
    box-sizing: border-box;
}

h1, h2, h3, p, div{
    padding: 0;
    margin: 0;
}

body{
    background-color: hsl(30, 38%, 92%);
    
}

h1, .new-price{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 40px;
}

h1{
    margin-right: 36px;
}

h2, .prices, .add-cart-button p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.product-review, .product-info, .prices, .add-cart-button{
    display: flex;
}

.product-review{
    background-color: white;
    box-shadow: 0px 0px 15px -10px black;
    border-radius: 16px;
    flex-wrap: wrap;
    margin: 135px auto;
    max-width: 810px;
}

.product-review img{
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    max-height: 600px;
}

.product-info{
    flex-direction: column;
    justify-content: space-between;
    padding: 45px;
    max-width:  50%;
}

h2, .prices{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.prices{
    align-items: center;
    gap: 28px;
}

.new-price{
    color: hsl(158, 36%, 37%);
    font-size: 36px;
}

p{
    color:rgb(153, 153, 153);
    font-size: 24px;
    line-height: 36px;
}

.old-price{
    text-decoration: line-through;
    color: rgb(153, 153, 153);
    font-size: 16px;
}

.add-cart-button{
    background-color: hsl(158, 36%, 37%);
    border-radius: 12px;
    border-color: transparent;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    gap: 16px;
}

.add-cart-button p{
    color: white;
    font-size: 16px;
}

.add-cart-button img{
    width: 20px;
}

footer{
    text-align: center;
}

a:hover{
    color: hsl(158, 79%, 35%);
}

a:link{
    color: hsl(158, 29%, 16%);
}


